.container {
    background-color: rgb(21, 65, 95);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .custom-field {
    background-color: rgb(21, 65, 95);
    color: white;
  
    input {
      color: white;
    }
  
    mat-label {
      color: white;
    }
  
    .mat-form-field-outline {
      border-color: white;
    }
  
    .mat-input-element::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  
  button {
    display: block;
    margin: 0 auto;
  }
  
  h2{
    color: white;
    font-weight: 500;
    font-size: 36px;
  }